<!DOCTYPE HTML>
 
<html>
	<head> 
	      <meta charset="utf-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1" />
	      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	      <script src="/js/controller.js"></script>
	      <script src="/js/util.js"></script>
       	  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

	</head>
		
		<body>
	  		
			<div class="container" ng-app="app">
		 	    <div class="page-header">
			    	<h1> WeatherMark Bulletin Utility </h1>
		 			<div id="chooseType" style="display: block;">
			 			 <input type="radio"  name="data" onclick="showPost()" id="poster"> Parse file
						&nbsp;	
						 <input type="radio"  name="data" onclick="showGet()" id="getter"> Build report 
			 		</div>
			    </div>
		 	     
			    <div id ="doPost" style="display: none;">
				    <div ng-controller="postcontroller">
				        <form name="fileNameForm" >
				        	<div class = "row">
					        	<div class = "col-sm-4">
					            	<label>File Name</label>
					            	<input type="text" name="fileName" class="form-control" ng-model="post.filename"/>
					            </div>
					             <div class = "col-sm-4">
					            	<label>Station</label>
					            	<input type="text" name="station" class="form-control" ng-model="post.station"/>
					            </div>
					        </div>
							<br>	 
					 		<div class = "row">
					 			 <div class = "col-sm-3">	
					            	<button type="submit" class="btn btn-primary">Submit</button>
					        	</div>	
				        	</div>
				        </form>
				        <p><span ng-class="messageClass()">{{xmessage()}}</span></p>
				    </div>
				    </div>
			    
			   	<div id = "doGet" style="display: none;">
				    <div ng-controller="getcontroller">
				        <form name="xbuildForm" ng-submit="submitForm(post)">
					    	<div class = "row">
								<div class = "col-sm-4">	
		 					    	<label>Station</label>
							        <input type="text" name="station"  class= "form-control" ng-model="post.station"/>
		 				  		</div>
								<div class = "col-sm-4">	
		 			        		<div class="form-group">
						  				<label>Zone(s) </label>
						        		<input type="text" name="zones" class= "form-control" ng-model="post.zones"/>
						  			</div>	
						    	</div>
				 		
				 				<div class = "col-sm-2">	
		 					    	<label>Keyword</label>
							        <input type="text" name="keywords0"  class= "form-control" ng-model="post.keywords0"/>	
		 				  		</div>
		 				  		<div class = "col-sm-2">					        
  									<span class="btn btn-primary" ng-click='add()'>Add</span>
		 				  		</div>
		 				  	</div>
		 				  	<div class="row">
		 				  		<div class="col-sm-offset-8 col-sm-4">
  									<div ng-repeat="(i, name) in items track by $index">	
		 					    		<label>Keyword</label>
									    <input name="keywords[i]" ng-model="post.keywords[i]"> 
									    <span class="btn btn-warning" ng-click="del(i)" >Delete</span>             
									</div>
								  </div>								 
						  	</div>
							<br>
						    <div class = "row">
								<div class = "col-sm-3">	
						 <!--      		<button id="btn-id" ng-click="getfunction()" class="btn btn-default" onClick="showSample();">View Sample</button> -->
						     		<button id="btn-id" ng-click="getfunction(post)" class="btn btn-default">View Sample</button>
						        
						        
						        
						        </div>
								<div class = "col-sm-3">	
						     		<button id="btn-id" ng-click="buildfunction()" class="btn btn-primary" onClick="showBuild();">Build Output File</button>
						        </div>
		
								<div class = "col-sm-3">	
						     		&nbsp;
						        </div>
						
						    </div>
						</form>	
						
						<div id = "doSample" ng-class="showSample();">
						    <h2> <small> {{label()}} </small></h2>
							 
		 					<table class="table table-striped" >
							    <tr >
							        <th>Station</th>
							        <th>Header</th>
							        <th>Zone Codes</th>
							        <th>Zones</th>
							        <th>Station Timestamp</th>
							        <th>Forecast</th>
							        <th>Date Created</th>
							        <th>Filename</th>
						       </tr>
			 					
							    <tr ng-repeat="x in response">
							        <td>{{x.station}}</td>
							        <td>{{x.header}}</td>
							        <td>{{x.zoneCodes}}</td>
							        <td>{{x.zones}}</td>
							        <td>{{x.stationTimestamp}}</td>
							        <td>{{x.forecast}}</td>
							        <td>{{x.dateCreated}}</td>
							        <td>{{x.filename}}</td>
						       </tr>
			 				    
							</table>
		 			    </div>     
					</div>
				</div>
			</div>
		</body>
</html>